* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #1e1e1e;
}

/* BLOQUE PRINCIPAL */
.container {
    display: flex;
    width: 100%;
    max-width: 900px;   
    border-radius: 20px; 
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

/* LADO IZQUIERDO */
.information {
    width: 50%;
    padding: 60px;
    background: linear-gradient(to right, #E7D2FC);
    color: black;
    display: flex;
    align-items: center;

}

.info-childs img {
    width: 340px;
    height: 340px;
    object-fit: contain;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-childs h1 {
    font-size: 40px;
    margin-bottom: 1px;
    text-align: center
}

.info-childs h2 {
    font-size: 32px;
    margin: 25px 0 15px;
    text-align: center
}

.info-childs p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center
}

.info-childs .button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* LADO DERECHO */
.information {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: px;
}

.information-childs {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/* ICONOS */
.card {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card i {
    font-size: 30px;
    margin-bottom: 15px;
    color: #4f46e5;
}

.card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.card p {
    font-size: 15px;
    line-height: 1.5;
    color: #555;
}


/* SEGUNDA BLOQUE */
.info {
    width: 50%;
    margin: 0;
    margin-right: 20px;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    align-self: center; 
}

.info h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

/* GRID DE INFORMACIÓN */
.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* BLOQUES INFORMATIVOS */
.info-box h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.info-box ul {
    padding-left: 20px;
}

.info-box li {
    font-size: 13px;
    margin-bottom: 8px;
    line-height: 1.5;
    color: #444;
}